@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

video.fullscreen {
  width: 100%;
  margin-top: -5%; }

.hero {
  overflow: hidden;
  width: 100%;
  height: 640px; }

.title {
  text-align: center;
  padding: 2em 0;
  font-size: 30px; }

.feature-list {
  padding-bottom: 2em; }

ul.feature-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.feature-list img {
    display: inline-block;
    width: 30px;
    height: auto;
    margin-top: -6px; }
  ul.feature-list h6 {
    display: inline;
    font-weight: 500;
    font-size: 1.25em;
    margin-left: 20px; }
  ul.feature-list li {
    text-align: left; }
  ul.feature-list p {
    margin-top: 10px;
    margin-bottom: 2em;
    margin-left: 55px;
    margin-right: 10px;
    font-size: 1.1em; }

.feature.gradient {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f8fafc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #f8fafc));
  background: -webkit-linear-gradient(top, white 0%, #f8fafc 100%);
  background: -o-linear-gradient(top, white 0%, #f8fafc 100%);
  background: -ms-linear-gradient(top, white 0%, #f8fafc 100%);
  background: linear-gradient(to bottom, white 0%, #f8fafc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8fafc', GradientType=0 ); }

.gray {
  background: #F8FAFC; }

.red {
  background: red; }

.blue-text {
  color: #3590fc; }

.purple-text {
  color: #a82ed1; }

.pink-text {
  color: #ff3686; }

.red-text {
  color: #ee1111; }

.green-text {
  color: #7ed321; }

.orange-text {
  color: #f37e02; }


/*----- BETA SIGN-UP ----*/
.beta-signup {
  background-color: #292B2B;
  color: rgba(255,255,255,0.45);
  min-height: 300px;
  text-align: center;
}

.sign-up-text{
  padding: 60px 0 0 0;
}

img.appstore {
  margin-top: 30px;
}

#email-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}

.email-form {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 50%;
  margin-left: -25%;
}

.email-form h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0;
}
.email-form h1 img {
  width: 25px;
  line-height: 10px;
  vertical-align: -2px;
}

.email-form .done {
  display: none;
}

.email-form .collapse {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.email-form input[type=email] {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-style: none;
  text-align: center;
  height: 50px;
  margin: 0;
}

.email-form button.signup {
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  height: 50px;
  padding: 0;
  margin: 0;
}

.email-form .form-message, .email-form .form-error {
  padding: 0.5em 0;
  color: white;
  font-size: 1.2em;
}

.email-form .form-error {
  color: red;
}

.email-form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.email-form :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.9);
}

.email-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.9);
}

.email-form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

h1.join-the-beta-text {
  font-family: 'Muli', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}


/*----- FOOTER -----*/
.full-width {
  max-width: 1200px;
}

.footer {
  background-color: #1C1D1C;
  padding: 3rem 4rem 2rem 4rem;
  text-align: center;
  color: #CECECE;
}

.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

.footer .maintain-height:nth-child(n+2) {
  min-height: 60px;
}

.footer-links {
  min-width: 95px;
  max-height: 20px;
  text-align: center;
  padding: 0 10px;
}

p.copywrite-text {
  color: #6C6C6C;
}

.social-media-icons {
  max-height: 20px;
  margin: 0 20px 0 20px;
}
